@media (max-width: 576px) {
    .container{
      width: 100%;
    }
    .global__btn{
      width: 80%;
      height: 54px;
      padding: 12px 5px;
      font-size: 22px;
      line-height: 18px;
      & span {
        font-size: 12px;
      }
    }
    .global__subtitle {
      font-size: 22px;
    }
    .cubic {
        display: none;
    }
    // navigation
  
    .menu{ 
      color: #fff;
      font-size: 20px;
      line-height: 24px;
      width: 100%;
      height: 110.68px;
      padding-top: 15px;
      position: fixed;
      background: rgba(0, 0, 0, .6);
      z-index: 100;
      &__flex{
        display: flex; 
        justify-content: space-between;
        width: 100%;
        &__burger{
          display: flex; 
        }
      }
      &__burger{
        display: block;
        width: auto;
      }
    }
    .logo img{
      width: 100%;
    }
    .nav{
      display: flex;
      // flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .nav__item{
      margin: 0;
      padding: 25px 27px;
      line-height: 24px;
    }
    .nav__item a{
      transition: .3s all linear;
      cursor: pointer;
    }
    .nav__item a:hover{
      text-decoration-line: underline;
    }
  
  // Fiirst
    .first {  
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      padding-top: 40px;
      &__body {
        width: 100%;
        margin-bottom: 24px;
        &__toptitle {
          font-size: 16px;
          margin-bottom: 16px;
        }
        &__title {
          font-size: 32px;
          margin-bottom: 16px;
          text-align: center;
        }
        &__subtitle {
          font-size: 16px;
          margin-bottom: 16px;
          width: 100%;
        }
      }
      &__image {
        width: 100%;
        display: none;
        &_mobile {
          display: flex;
          margin-bottom: 24px;
          & img {
            width: 80%;
          }
        }
      }
    }
    .sales {
      width: 60px;
      height: 60px;
      right: 15px;
      bottom: 15px;
      &__item {
        width: 60px;
        height: 60px;
        font-size: 10px;
        right: 15px;
        bottom: 15px;
        &__number {
          font-size: 20px;
        }
      }
    }
    .display__full{
      display: none;
    }
  
    .display__mob{
      display: block;
    }
  
    .firstButton {
      width: 90%;
      height: 55px;
      margin-top: 12px;
      font-size: 20px;
      line-height: 18px;
    }
    
    .firstButton span{
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
    }
  
   .global__title{
    padding-top: 15px;
    
  }
  
  .global__title__back{
    bottom: -15px;
    width: 100%;
    height: auto;
    font-size: 36px;
    line-height: 44px;
  }
  
  .global__title__front{
    width: 100%;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    &_small {
      font-size: 26px;
      line-height: 32px;
    }
  }
  
  // AboutUS
  
  .about_us{
    width: 100%;
    height: auto;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    & p {
        text-align: center;
        text-indent: 0px;
    }
    &__info{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 25px;
    } 
    &__info_item{
      margin: 15px;
      width: 95% ;
      height: auto;
      text-align: center;
      background: #FFFFFF;
      border-radius: 10px;
      padding: 15px;
      font-size: 18px;
    }
    &__platform{
      margin: 25px 0px 0 0;
      border-radius: 10px;
      padding: 15px;
      font-size: 17px;
      flex-wrap: wrap;
      &__wrapper {
        width: 100%;
        &__blockText {
          padding: 12px;
        }
      }
      &__blockImage {
        padding-left: 0;
        padding-right: 0;
      }
      &__numbers {
        padding: 12px;
        display: flex;
        flex-direction: column;
        &__item {
            text-align: center;
            font-size: 20px;
            margin: 12px 0;
            &__number {
              font-weight: 500;
              color: $colorSiteSub;
              font-size: 30px;
              margin-bottom: 8px;
            }
        }
    }
    }
    
    &__cup{
      margin: 0 5px 0 5px;
      width: 22%;
    }
  }
  
  
  /* Activity */
  
  .activity{
    // background: linear-gradient(180deg, #0E0A24 6.25%, #14121C 50.52%, #00080D 100%);
    height: auto;
    padding-bottom: 55px;
  }
  //ACTIVITY
  .activityCards {
    flex-wrap: wrap;
    &__item {
      width: 100%;
      padding: 0 22px;
      margin-bottom: 24px;
      &__inner {
        min-height: fit-content;
        max-height: fit-content;
        padding: 12px;
      }
      &__image {
        margin-bottom: 16px;
        &_order {
          order: 0;
        }
      }
      &__block {
        font-size: 18px;
        margin-bottom: 12px;
        &__title {
          font-size: 24px;
        }
      }
    }
  }
  
  /* Worries */
  
  .worries{
    padding: 30px 0;
    &__item{
      font-weight: 500;
      font-size: 18px;
      padding: 10px;
      width: 100%;
      flex-direction: column;
      text-align: center;
      margin-bottom: 12px;
      &__svg {
        margin-right: 0;
        transform: rotateZ(90deg);
        & svg {
          height: 30px;
        }
      }
      &__text{
        top: 0;
        left: 0;
        padding: 12px 6px;
      }
    }
    &__stolb {
      opacity: 0.15;
      width: 100%;
      right: -60%;
    }
    &__line {
      display: none;
    }
  }
  
  
  
  // for_whom
  
  .for_whom{
    height: auto; 
    font-size: 20px;
    line-height: 28px;
    padding: 0;
    &__body{
      padding: 0;
    }
    
    &__item{
      width: 90%;
      padding-top: 10px;
      height: 170px;
      background: #fff;
      border-radius: 10px;
      margin: 12px ;
      box-shadow: 8px 8px 10px -2px rgba(34, 60, 80, 0.23);
      &__text {
        margin: 15px 12px 0 12px;
        text-align: center;
        } 
      } 
  }
  
  /* opportunities */
  
  .opportunities__row{
    flex-direction: column;
  }
  
  .opportunities__block{
    padding: 40px 0 0px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .opportunities__row__item{
    padding: 10px 25px;
    min-height: auto;
    width: 100%;
}
  .opportunities__row__item__img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
  }
  
  .subscription{
    overflow: hidden;
    padding-bottom: 35px;
    position: relative;
    &__row{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__next{
      display: block;
      position: absolute;
      bottom: -50px;
      right: 30px;
      transform: rotate(180deg);
      width: 35px;
      height: 35px;
      & img{
        display: block;
      }
    }
    &__prev{
      position: absolute;
      bottom: -50px;
      left: 30px;
      width: 35px;
      height: 35px;
      & img{
        display: block;
      }
    }
    &__items {
      flex-wrap: wrap;
    }
    &__item{
      height: fit-content;
      text-align: center;
      padding: 12px;
      &_wrapper {
        width: 100%;
        padding: 0;
      }
      & button {
        font-size: 24px;
        margin-bottom: 6px;
      }
      &__maxprice{
        font-size: 20px;
        margin-bottom: 6px;
      } 
      &__lowprice{
        font-size: 34px;
        margin-top: 0px;
        margin-bottom: 12px;
      }
      &__btn{
        margin-top: 0px;
        margin-bottom: 6px;
      }
      &__duration{
        margin-top: 0px;  
        font-size: 18px;
      }
    }
  }
  
  /* warranty */
  
  .warranty{
    &__flex {
      &_row {
        flex-wrap: wrap;
      }
    }
    &__item {
      width: 100%;
      margin: 0 8px 0 24px;
      height: 200px;
      &__circle {
        display: none;
      }
      &__header {
        &__title {
          font-size: 20px;
        }
      }
      &__number {
        transform: translate(-40%, -50%);
      }
      &__text {
        padding: 0 16px 0 40px;
        & p {
          font-size: 16px;
          padding-left: 12px;
          width: 100%;
        }
      }
    }
    &__btn {
      width: 100%;
    }
  }
  
  //Expert
  
  .expert{
    z-index: 1;
    height: auto;
    padding-bottom: 20px;
    &__foto{
      width: 100%;
      
    }
    &__wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      }
      &__col{
        overflow: hidden;
        padding-left: 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction:column;
        width: 100%; 
  
        &__first{
          position: absolute;
          z-index: 6;
          width: 50%;
          height: auto;
          left: 45%;
          top: 50px;
          padding-top: 20px;
          padding-right: 10px;
          padding-left: 10px;
          font-size: 12px;
          transform: rotate(25deg);
        }
        &__second{
          position: absolute;
          max-width: 50%;
          height: auto;
          left: 55%;
          top: 140px;
          z-index: 6;
          padding-top: 20px;
          padding-right: 10px;
          padding-left: 10px;
          font-size: 12px;
          transform: rotate(25deg);
  
        }
        &__name{
          padding-left: 0px;
          width: 100%;
          font-weight: 600;
          font-size: 36px;
          line-height: 45px;
          margin: 15px 0;
        }
        &__properti{
          display: flex;
          align-items: center;
          justify-content:start;
          margin: 5px 0;
          &__done{
            min-width: 35px;
            max-width: 35px;
            padding-right: 5px;
            margin-right: 10px;
            & img {
              width: 100%;
            }
          }
          &__text{
            font-size: 18px;
          }
        }
        &__row{
          display: block;
          width: 100%;
          &__projects{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &__item{
              margin: 10px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            &__title{
              font-weight: 500;
              font-size: 35px;
            } 
            &__text{
              font-weight: 400;
              font-size: 24px;
            }
            &__flex{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              &__img{
                margin: 0 8px;
              }
            }
        }
        
        }
        &__diplom{
          width: auto;
          &__img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            min-height: 270px;
            margin: 0px;
            & img{
              width: 80%;
            }
          }
        }
      }
    }
    & .slick-list{
      overflow: hidden;
    }
  }
  
  // Answers
  
  .answers{
    &__col{
    margin-top: 25px;
    padding-bottom: 0;
    }
    &__item{
      width: 370px;
      height: auto;
      &__row {
        align-items: center;
      }
      &__question{
        margin: 10px;
        font-weight: 600;
        font-size: 16px;
        font-weight: 500;
      }
      &__number{
        font-size: 24px;
        padding: 0 15px;
      }
      &__arrow{
        min-width: 35px;
        max-width: 35px;
      }
      &__answer{
        font-size: 16px;
        color:#183F40;
        padding: 8px 22px;
      &__off{
        height: 0;
        display: none;
      }
      }
    }
  }
  
  // Start
  
  .start{
    background: $bgColorSite;
    height:auto;
    position: relative;
    padding-bottom: 40px;
    z-index: 1;
    border-radius: 10px;
    padding: 12px;
    &__form {
      width: 100%;
    }
    &__yetText {
      font-size: 14px;
    }
    &__intut{
      margin: 0;
      width: 100%;
      text-align: center;
      width: 95%;

    }
    &__intut input{
      width: 95%;
      height: 52px;
      font-size: 18px;
      margin-bottom: 6px;
    }
    &__text{
      width: 100%;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #FFF;
      margin-top: 16px;
      width: 90%;
      & a{
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  
  .start__btn {
    width: 100%;
    text-align: center;
    & button{
      width: 95%;
      height: 55px;
      margin-top: 2px;
      font-size: 22px;
      line-height: 18px;
      
    }

  }
  
  .start__btn span{
    font-size: 14px;
    line-height: 12px;
    font-weight: 400;
  }
  
  .sitefooter{
    width: 100%;
    // background: linear-gradient(180deg, #00101C 6.25%, #14121C 50.52%, #00080D 100%);
    color: #fff;
    
    &__flex{
      padding: 40px 0;
      display: flex;
      align-items: center;
      justify-content:center;
      flex-direction: column;
  
      &__col{
        width: 100%;
        display: block;
        &__title{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        }
        &__item{
  
          margin: 10px;
          font-family: 'Gilroy';
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 148%;  
          &:hover{
            text-decoration: underline;
          }                              
        }
        // &__item a{
        //   // text-decoration: underline;  
        // }
      }
    }
  }
  //Play
    .play {
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
        padding-left: 5px;
        & img {
            width: 20px;
            height: 20px;
        }
    }
    .phone {
        left: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
        & img {
            width: 20px;
            height: 20px;
        }
    }
    .courses {
      &__slider {
        position: relative;
        // margin-bottom: 50px;
        &__item {
          padding-right: 0;
        }
        &__btn {
          margin: 10px auto 0 auto;
          display: block;
          background: linear-gradient(95.66deg, #0E5169 -4.77%, #07BED7 32.56%, #07BED7 72.29%, #0E5169 110.81%);
          padding: 5px 15px;
          color: $colorLight;
          width: 60%;
          text-align: center;
          border-radius: 5px;
        }
      }
    }
    .slider {
      &__arrows {
        &__next {
          display: block;
          position: absolute;
          bottom: 1px;
          right: 25px;
          transform: rotate(180deg);
          width: 35px;
          height: 35px;
          & img{
            display: block;
          }
        }
        &__prev {
          display: block;
          position: absolute;
          bottom: -7px;
          left: 25px;
          transform: rotate(0deg);
          width: 35px;
          height: 35px;
          & img{
            display: block;
          }
        }
      }
    }
    .videoPlatform {
      height: 200px;
      margin: 30px auto;
      width: 100%;
    }
    .reviews {
      &__item {
        margin: 0;
      }
    }
  .modalGift {
    min-width: 95vw;
    max-width: 95vw;
    & input, .start__intut {
      width: 100% !important;
    }
  }
}

